<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG" monitorInterval="30">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %-5level [%thread] %class{36}(%F:%L) %M - %msg%xEx%n"/>
        </Console>
        <Async name="ASYNC">
            <AppenderRef ref="Console"/>
        </Async>
    </appenders>
    <loggers>
        <root level="INFO">
			<appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>